<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ntalk - Agenda de contatos</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/mystyle.css">
  </head>
  <body>
  	<div id="tudo">
  		<div id="conteudo");