doctype html
html
	head
		meta(charset="utf-8")
		title Ntalk - Agenda de contatos
		link(rel="stylesheet" type="text/css" href="/stylesheets/mystyle.css")
	body
		#tudo
			#conteudo
				block content
				
				section
					a(href='/sair') Sair

				footer
					small Ntalk (Node Talk) - Este é um projeto exemplo utilizado como didática no livro: <a href="http://www.casadocodigo.com.br/products/livro-nodejs" target="_blank">Aplicações web real-time com Node.js</a>
